nav ul 
{
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}


a
{
    font-size: 1.75em;
    color: #8c52ff;
}

