.footerContent
{
    background-color: #8c52ff;
    /* height: 100px; */
    margin-top: 20px;
}

.footerContent ul
{
    list-style: none;
}



.footerBtnCont ul
{
    padding: 0;
    padding-top: 20px;

    gap: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.footerBtn a
{
    color: black;
}

.footerBtn a:hover
{
    color: rgb(255, 255, 255);
}


.contact
{
    /* border-top: rgba(1, 1, 1, .5) 1px solid; */
}

.contactIcons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}


.copyright
{
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.copyright p
{
    margin: 0;
    margin-top: 20px;
    padding-bottom: 20px;
}