.serviceBorder {
    border: 3px double black;
    margin: 0 auto;
    width: 40%;          /* responsive width */
    max-width: 800px;    /* optional maximum */
}

.service
{
    border-bottom: #c9c9c9 1px solid;
}

.serviceName h3
{
    margin: 0;
    margin-top: 15px;
    
}

.servicePrice
{
    font-size: 1.5em;
    margin: 5px 0;
}