:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Added code below */

.homeMain
{
  height: 80vh;
}

.homeSelect
{
  display: flex;
  justify-content: center;

}



.imgWrapper
{
  position: relative;
  display: inline-block;
  width: fit-content;
}

.imgWrapper:hover .serviceImg
{
  filter: brightness(.9);
}

.imgWrapper:hover .shopsImg
{
  filter: brightness(.9);
}

.imgWrapper img
{
  
  display: block;
  
}

.shopsImg
{
  width: 500px;
  filter: brightness(.65);
  cursor: pointer;

  margin: 0 60px;
  transition: .5s;
}

/* .shopsImg:hover
{
  filter: brightness(.9);
} */

.serviceImg
{
  width: 500px;
  height: 358px;
  filter: brightness(.65);
  cursor: pointer;

  /* This crops the image */
  object-fit: cover;
  object-position: center top;

  margin: 0 20px;

  transition: .5s;
}

/* .serviceImg h2:hover 
{
  filter: brightness(.9);
} */



.shopText
{
  font-size: 2em;
  padding: 45px 90px ;
  cursor: pointer;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgb(1, 1, 1, 0.65);
  color: white;
  border-radius: 10px;
}

.serviceText
{
  font-size: 2em;
  padding: 45px 90px ;
  cursor: pointer;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgb(1, 1, 1, 0.65);
  color: white;
  border-radius: 10px;
}

/* ABOUT */

.aboutContent
{
  min-height: 60vh;
  padding: 0 20px ;
}